.body-container {
    justify-content: center;
    align-items: center;
    .body {
        align-self: center;
        padding-left: 100px;
        padding-right: 100px;
        .personal-solution {
            padding-top: 50px;
        }
        .about-me {
            padding-top: 25px;
        }
    }
}