.body-container {
    justify-content: center;
    align-items: center;
    .body-about-me {
        padding-top: 25px;
        align-self: center;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 50px;
        .technologies-block {
            display: flex;
            justify-content: space-evenly;
            .list {
                max-width: 50%;
                padding: 5px;
            }
        }
    }
    .body-business-solutions {
        align-self: center;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 50px;
    }
}