.flex {
    &-row {
        display: flex;
        justify-content: center;
        .item {
            padding: 10px;
        }
        .item-social-icon {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}